<div class="row board">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="ad-logo">logo</div>
          <div class="content">
            <div class="date-and-type">posted when &middot; job status</div>
            <div class="position-title">post title</div>
            <div class="company-name">company name</div>
            <div class="cities align-bottom">cities, cities, cities, cities, cities, cities</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="ad-logo">logo</div>
          <div class="content">
            <div class="date-and-type">posted when &middot; job status</div>
            <div class="position-title">post title</div>
            <div class="company-name">company name</div>
            <div class="cities align-bottom">cities, cities, cities, cities, cities, cities</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="ad-logo">logo</div>
          <div class="content">
            <div class="date-and-type">posted when &middot; job status</div>
            <div class="position-title">post title</div>
            <div class="company-name">company name</div>
            <div class="cities align-bottom">cities, cities, cities, cities, cities, cities</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row load-button justify-content-center">
    <button type="button" class="btn btn-load-more">Load More</button>
  </div>
  