<div class="row searchbar">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Filter by title, companies, expertise...">
      <input type="text" class="form-control" placeholder="Filter by location...">
      <div class="form-control">
        <div class="form-inline centered-lg justify-content-between">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customControlInline">
            <label class="custom-control-label" for="customControlInline">Full Time Only</label>
          </div>

          <button type="button" class="btn btn-search">Search</button>
        </div>
      </div>
    </div>
  </div>
  